/* Filename - App.css */
/* It containds the Form and Page Styling*/

body {
    background: #f3f3f3;
    text-align: center;
}
.App {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 850px;
    text-align: center;
    margin-left: -21px;
    margin-top: -20px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  


    display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: right;
    justify-content: start;
}

h1 {
    font-size: x-large;
    text-align: center;
    color: #cbdbcb;
    background-color: #cc4723;
}

fieldset {
    border: none;
}

input {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    width: 100%;
    /* margin-bottom: 15px; */
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
}
input[type="radio"],
input[type="checkbox"] {
    display: inline;
    width: 10%;
}
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4caf50;
    width: 40%;
    font-size: 16px;
}
textarea {
    resize: none;
    width: 98%;
    min-height: 100px;
    max-height: 150px;
}
.Column, Row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .Row {
    flex-direction: row;
  }
  .Column {
    flex-direction: column;
  }
  .border{
    margin: 5px;
    border-right: solid;
    border-color: #555;
    border-block-start-style: dashed;
  }

  .new-line {
    padding: 20px;
    white-space: pre-line;
  }