

.box {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 90px; /* Reducir el margen superior */
    margin-bottom: 50px; /* Agregar margen inferior */
    background: #fff;
    padding-bottom: 30px;
    width: 600px;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs {
    margin-top:  55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: auto;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submit-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    gap: 30px;
    margin-top: 30px; /* Ajustar margen superior */
}

.submit , .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: #eaeaea;
    color: #676767;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .footer-space {
    height: 50px; /* Ajusta la altura según sea necesario */
  }