.payment-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b92a2a;
    padding: 20px;
}

body {
    background-color: rgb(215, 252, 52);
}

.payment-form .label .pmt-title {
    color: white;
}
