.payment-form {
    display:block;
    margin-left: 50%;
    width: 50%;
    align-items: end;
    align-content: end;
    justify-content: end;

}
.sideMenu{
    background-color: brown;
}
h1{
    background-color: brown;
}
.payment-form .label .pmt-title {
    color: white;
}
